/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.shuffle-btn {
  border: 3px solid blue;
  padding: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.card {
  border: 3px solid #666;
  width: 75px;
  height: 100px;
  float: left;
  margin: 20px 20px 0 0;
  text-align: center;
}

.spade {
  border: 3px solid #000;
}

.heart {
  border: 3px solid red;
}

.diamond {
  border: 3px solid #FFC0CB;
}

.club {
  border: 3px solid #333;
}